.profile_component {
  margin-top: 30px;
  margin-left: 300px;
  margin-left: 300px;
  background-color: rgb(131, 147, 153);
}
.button_edit {
  margin-top: 220px;
  margin-left: 250px;
}
.photoprofile {
  height: 50px;
  width: 60px;
}
.steps {
  margin-top: 900px;
}
